

<div class="container-fluid" style="background-color: #5b6770 !important;">
    <div class="container">
        <div class="row">
            <h4 style="color:white"> Find used books, rare books, textbooks, new and out-of-print books
                Compare book prices from over 100,000 booksellers worldwide</h4>
    
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Finder.Org</strong> </h2>
            </div>
        </div>
    </div>
  
    <!-- <div class="row mt-4" style="border-top: green !important; border-radius: 40px !important;">
        <div class="container">
            <div class="row">
                <h4 style="color: white;">Find used books, rare books, textbooks, new and out-of-print books
                    Compare book prices, including shipping, from over 100,000 booksellers worldwid4</h4>
            </div>
            <h4>For more info visit one of the following...</h4>

            <div class="row">
                <div class="row">
                </div>
                <div class="col-md-3">
                   <p><a> BookFinder.com
                    </a></p>
                </div>
                <div class="col-md-3">
                    <p><a> JustBooks.co.uk</a></p>
                </div>
                <div class="col-md-3">
                    <p><a> JustBooks.de</a></p>

                </div>
                <div class="col-md-3">
                    <p><a>   JustBooks.fr</a></p>

                </div>
            </div>
        </div>
       
    </div> -->
</div>